* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1f1f2e;
    color: #fff;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    z-index: 1000;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 40px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* NAV-LINKS */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00d4ff;
    transform: scale(1.1);
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1522199755839-a2bacb67c546?auto=format&fit=crop&w=1200&q=80')
                center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    color: #0f0f0f; /* Change text color */
}


.hero-content h1 {
    font-size: 55px;
}

.hero-content p {
    margin: 20px 0;
    font-size: 20px;
}

.btn {
    padding: 12px 25px;
    background: #00d4ff;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #fff;
}

/* SECTIONS */
.section {
    padding: 80px 40px;
    text-align: center;
}

.section h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.cards {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    background: #2c2c3e;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.card:hover {
    background: #00d4ff;
    color: black;
    transform: translateY(-10px);
}

/* FOOTER */
footer {
    background: #000;
    padding: 20px;
    text-align: center;
}

/* ------------------------------------------
   RESPONSIVE MOBILE MENU
------------------------------------------- */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%;
        background: #000;
        width: 200px;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        transition: 0.3s;
    }

    .nav-links.active {
        right: 0;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}
